<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="false" default-autowire="byName">

	<context:property-placeholder location="classpath:conf/geekway_jdbc.properties"
		ignore-unresolvable="true" />
	
	<bean id="geekway_datasource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${geekway.jdbc.url}" />
		<property name="username" value="${geekway.jdbc.username}" />
		<property name="password" value="${geekway.jdbc.password}" />
		<property name="initialSize" value="${geekway.jdbc.initialSize}" />
		<property name="maxActive" value="${geekway.jdbc.maxActive}" />
		<property name="maxIdle" value="${geekway.jdbc.maxIdle}" />
		<property name="minIdle" value="${geekway.jdbc.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${geekway.jdbc.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${geekway.jdbc.minEvictableIdleTimeMillis}" />
	</bean>

	<bean id="geekway_sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-conf.xml"/>
		<property name="dataSource" ref="geekway_datasource" />
	</bean>
	
	<bean id="wxArticleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxArticleMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>

	<bean id="wxDefaultReplyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxDefaultReplyMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	
	<bean id="wxEventCodeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxEventCodeMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	
	<bean id="wxCodeModuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxCodeModuleMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	
	<bean id="wxCodeModuleArticleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxCodeModuleArticleMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean> 
	
	<bean id="wxCustomizeMenuMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxCustomizeMenuMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	
	<bean id="wxCommandMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxCommandMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="wxCommandMaterialMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxCommandMaterialMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="wxMaterialMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxMaterialMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	
	<bean id="wxMaterialArticleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxMaterialArticleMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="wxMaterialNewsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxMaterialNewsMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="wxMaterialNewsArticleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxMaterialNewsArticleMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="wxMpUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxMpUserMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	
	
	<!-- <bean id="wxTestMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxTestMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean> -->
	
	
	
	<!-- ito mapper config -->
	<bean id="itoProductMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoProductMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="itoSkuMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoSkuMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="itoSkuImageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoSkuImageMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="itoSkuPropMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoSkuPropMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="itoSkuPropValueMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoSkuPropValueMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="itoProductSkuValueMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoProductSkuValueMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="itoProductOrderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoProductOrderMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="itoSliderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoSliderMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="itoSystemStatusMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.ItoSystemStatusMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	
</beans>
