<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="false" default-autowire="byName">

	<context:property-placeholder location="classpath:conf/geekway_jdbc.properties"
		ignore-unresolvable="true" />

	<bean id="geekway_datasource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${geekway.jdbc.url}" />
		<property name="username" value="${geekway.jdbc.username}" />
		<property name="password" value="${geekway.jdbc.password}" />
		<property name="initialSize" value="${geekway.jdbc.initialSize}" />
		<property name="maxActive" value="${geekway.jdbc.maxActive}" />
		<property name="maxIdle" value="${geekway.jdbc.maxIdle}" />
		<property name="minIdle" value="${geekway.jdbc.minIdle}" />
		<property name="timeBetweenEvictionRunsMillis"
			value="${geekway.jdbc.timeBetweenEvictionRunsMillis}" />
		<property name="minEvictableIdleTimeMillis" value="${geekway.jdbc.minEvictableIdleTimeMillis}" />
	</bean>

	<bean id="geekway_sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-conf.xml" />
		<property name="dataSource" ref="geekway_datasource" />
	</bean>


	<bean id="wxCommandMaterialMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.bruce.geekway.dao.mapper.WxCommandMaterialMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>

	<bean id="wxDefaultReplyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.bruce.geekway.dao.mapper.WxDefaultReplyMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>

	<bean id="wxCustomizeMenuMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.bruce.geekway.dao.mapper.WxCustomizeMenuMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="wxCommandMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxCommandMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="wxMaterialArticleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.bruce.geekway.dao.mapper.WxMaterialArticleMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>
	<bean id="wxMpUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.bruce.geekway.dao.mapper.WxMpUserMapper" />
		<property name="sqlSessionFactory" ref="geekway_sqlSessionFactory" />
	</bean>



</beans>
