<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"

	default-lazy-init="false" default-autowire="byName">

	 
	<!-- ito dao config -->
	<bean id="itoProductBgDao" class="com.bruce.geekway.dao.impl.ito.ItoProductBgDaoImpl">
	</bean>
	<bean id="itoProductDao" class="com.bruce.geekway.dao.impl.ito.ItoProductDaoImpl">
	</bean>
	<bean id="itoProductOrderDao" class="com.bruce.geekway.dao.impl.ito.ItoProductOrderDaoImpl">
	</bean>
	<bean id="itoSkuDao" class="com.bruce.geekway.dao.impl.ito.ItoSkuDaoImpl">
	</bean>
	<bean id="itoSkuImageDao" class="com.bruce.geekway.dao.impl.ito.ItoSkuImageDaoImpl">
	</bean>
	<bean id="itoSkuPropDao" class="com.bruce.geekway.dao.impl.ito.ItoSkuPropDaoImpl">
	</bean>
	<bean id="itoSkuPropValueDao" class="com.bruce.geekway.dao.impl.ito.ItoSkuPropValueDaoImpl">
	</bean>
	<bean id="itoProductSkuValueDao" class="com.bruce.geekway.dao.impl.ito.ItoProductSkuValueDaoImpl">
	</bean>
	<bean id="itoSliderDao" class="com.bruce.geekway.dao.impl.ito.ItoSliderDaoImpl">
	</bean>
	<bean id="itoSystemStatusDao" class="com.bruce.geekway.dao.impl.ito.ItoSystemStatusDaoImpl">
	</bean>
	<bean id="itoUserProfileDao" class="com.bruce.geekway.dao.impl.ito.ItoUserProfileDaoImpl">
	</bean>
	
	
	<!-- sku dao config -->
	<bean id="klhVoteDao" class="com.bruce.geekway.dao.impl.klh.KlhVoteDaoImpl">
	</bean>
	<bean id="klhVoteOptionDao" class="com.bruce.geekway.dao.impl.klh.KlhVoteOptionDaoImpl">
	</bean>
	<bean id="klhVoteResultDao" class="com.bruce.geekway.dao.impl.klh.KlhVoteResultDaoImpl">
	</bean>
	<bean id="klhSettingDao" class="com.bruce.geekway.dao.impl.klh.KlhSettingDaoImpl">
	</bean>
	<bean id="klhUserScoreLogDao" class="com.bruce.geekway.dao.impl.klh.KlhUserScoreLogDaoImpl">
	</bean>
	<bean id="klhProductDao" class="com.bruce.geekway.dao.impl.klh.KlhProductDaoImpl">
	</bean>
	<bean id="klhProductOrderDao" class="com.bruce.geekway.dao.impl.klh.KlhProductOrderDaoImpl">
	</bean>
	<bean id="klhUserProfileDao" class="com.bruce.geekway.dao.impl.klh.KlhUserProfileDaoImpl">
	</bean>
	<bean id="klhDailySignDao" class="com.bruce.geekway.dao.impl.klh.KlhDailySignDaoImpl">
	</bean>
	<bean id="klhWallImageDao" class="com.bruce.geekway.dao.impl.klh.KlhWallImageDaoImpl"> 
	</bean>
	<bean id="klhWallImageLogDao" class="com.bruce.geekway.dao.impl.klh.KlhWallImageLogDaoImpl"> 
	</bean>
	
</beans>
