<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"

	default-lazy-init="false" default-autowire="byName">

	<!-- 
	<bean id="eventCodeService" class="com.bruce.geekway.service.impl.WxEventCodeServiceImpl">
		<property name="wxEventCodeDao" ref="wxEventCodeDao"></property>
	</bean>
	<bean id="customizeMenuService" class="com.bruce.geekway.service.impl.WxCustomizeMenuServiceImpl">
		<property name="wxCustomizeMenuDao" ref="wxCustomizeMenuDao"></property>
	</bean>
	<bean id="materialService" class="com.bruce.geekway.service.impl.WxMaterialServiceImpl">
		<property name="wxMaterialDao" ref="wxMaterialDao"></property>
	</bean>
	
	<bean id="articleService" class="com.bruce.geekway.service.impl.WxArticleServiceImpl">
		<property name="wxArticleDao" ref="wxArticleDao"></property>
	</bean>
	 -->
	
	<bean id="commandService" class="com.bruce.geekway.service.impl.WxCommandServiceImpl">
		<property name="wxCommandDao" ref="wxCommandDao"></property>
	</bean>
	
	
	
	<bean id="defaultReplyService" class="com.bruce.geekway.service.impl.WxDefaultReplyServiceImpl">
		<property name="wxDefaultReplyDao" ref="wxDefaultReplyDao"></property>
	</bean>
	
	<bean id="codeModuleService" class="com.bruce.geekway.service.impl.WxCodeModuleServiceImpl">
	</bean>
	
	<bean id="materialArticleService" class="com.bruce.geekway.service.impl.WxMaterialArticleServiceImpl">
		<property name="wxMaterialArticleDao" ref="wxMaterialArticleDao"></property>
	</bean>
	<bean id="materialNewsService" class="com.bruce.geekway.service.impl.WxMaterialNewsServiceImpl">
		<property name="wxMaterialNewsDao" ref="wxMaterialNewsDao"></property>
	</bean>
	<!-- 本地MpUserService -->
	<bean id="mpUserService" class="com.bruce.geekway.service.impl.WxMpUserServiceImpl">
		<property name="wxMpUserDao" ref="wxMpUserDao"></property>
	</bean>
	<!-- weixin web oauth -->
	<bean id="mpOauthService" class="com.bruce.geekway.service.mp.WxMpOauthService">
	</bean>
	
	
	
	
	<!-- 访问微信api接口的userService，供订阅后添加用户使用 
	<bean id="wxUserService" class="com.bruce.geekway.service.mp.WxUserService">
	</bean>
	<bean id="mpTokenService" class="com.bruce.geekway.service.mp.WxMpTokenService">
	</bean>
	-->
	
	<!-- ito service config -->
	<bean id="itoProductService" class="com.bruce.geekway.service.impl.ito.ItoProductServiceImpl">
	</bean>
	<bean id="itoSkuService" class="com.bruce.geekway.service.impl.ito.ItoSkuServiceImpl">
	</bean>
	<bean id="itoSkuImageService" class="com.bruce.geekway.service.impl.ito.ItoSkuImageServiceImpl">
	</bean>
	<bean id="itoSkuPropService" class="com.bruce.geekway.service.impl.ito.ItoSkuPropServiceImpl">
	</bean>
	<bean id="itoSkuPropValueService" class="com.bruce.geekway.service.impl.ito.ItoSkuPropValueServiceImpl">
	</bean>
	<bean id="itoProductOrderService" class="com.bruce.geekway.service.impl.ito.ItoProductOrderServiceImpl">
	</bean>
	<bean id="itoSliderService" class="com.bruce.geekway.service.impl.ito.ItoSliderServiceImpl">
	</bean>
	<bean id="itoSystemStatusService" class="com.bruce.geekway.service.impl.ito.ItoSystemStatusServiceImpl">
	</bean>
	
	
	<!-- sku service config -->
	<bean id="klhVoteService" class="com.bruce.geekway.service.impl.klh.KlhVoteServiceImpl">
	</bean>
	<bean id="klhVoteOptionService" class="com.bruce.geekway.service.impl.klh.KlhVoteOptionServiceImpl">
	</bean>
	<bean id="klhVoteResultService" class="com.bruce.geekway.service.impl.klh.KlhVoteResultServiceImpl">
	</bean>
	<bean id="klhSettingService" class="com.bruce.geekway.service.impl.klh.KlhSettingServiceImpl">
	</bean>
	<bean id="klhUserScoreLogService" class="com.bruce.geekway.service.impl.klh.KlhUserScoreLogServiceImpl">
	</bean>
	<bean id="klhProductService" class="com.bruce.geekway.service.impl.klh.KlhProductServiceImpl">
	</bean>
	<bean id="klhUserProfileService" class="com.bruce.geekway.service.impl.klh.KlhUserProfileServiceImpl">
	</bean>
	<bean id="klhDailySignService" class="com.bruce.geekway.service.impl.klh.KlhDailySignServiceImpl">
	</bean>
</beans>
