<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"

	default-lazy-init="false" default-autowire="byName">

	<!-- <util:list id="textProcessorList"> <ref bean="keycodeCmsProcessor"></ref> 
		<ref bean="defaultReplyProcessor"></ref> </util:list> -->
	
	<bean id="messageHandler" class="com.bruce.geekway.handler.MessageHandler">
		<property name="textProcessorList" ref="textProcessorList"></property>
	</bean>
	
	<!-- 对于文本请求的处理器列表 -->
	<bean id="textProcessorList" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="keycodeCmsProcessor"/>
				<ref bean="defaultReplyProcessor"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- 对于按钮事件请求的处理器列表 -->
	<bean id="eventClickProcessorList" class="java.util.ArrayList"> 
		<constructor-arg>
			<list>
				<ref bean="keycodeCmsProcessor"/>
				<ref bean="defaultReplyProcessor"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- 对于关注请求的处理器列表 -->
	<bean id="eventSubscribeProcessorList" class="java.util.ArrayList"> 
		<constructor-arg>
			<list>
				<ref bean="userSubscribeProcessor"/>
				<ref bean="keycodeCmsProcessor"/>
				<ref bean="defaultReplyProcessor"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- 根据用户输入内容进行回复，应用场景：1、针对自定义菜单的code回复；2、针对订阅事件的回复；3、针对用户输入文本内容的回复 -->
	<bean id="keycodeCmsProcessor" class="com.bruce.geekway.handler.processor.CommandCmsProcessor">
		<property name="commandService" ref="commandService"></property>
		<property name="materialArticleService" ref="materialArticleService"></property> 
		<property name="materialNewsService" ref="materialNewsService"></property> 
		
		<!-- 
		<property name="eventCodeService" ref="eventCodeService"></property>
		<property name="articleService" ref="articleService"></property>
		<property name="materialService" ref="materialService"></property>
		-->
	</bean>
	
	<!-- 作为默认处理器，建议将放置在list的最后一个，优先使用其他处理器 -->
	<bean id="defaultReplyProcessor" class="com.bruce.geekway.handler.processor.DefaultReplyProcessor">
		<property name="defaultReplyService" ref="defaultReplyService"></property>
	</bean>
	
	<!-- 作为默认处理器，建议将放置在list的最后一个，优先使用其他处理器 -->
	<bean id="userSubscribeProcessor" class="com.bruce.geekway.handler.processor.UserSubscribeProcessor">
		<property name="mpUserService" ref="mpUserService"></property>
	</bean>
	
</beans>
