<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
	
		<!-- geekway config -->

		<mapper resource="com/bruce/geekway/model/xml/WxUserMapper.xml" /> 
		
		<mapper resource="com/bruce/geekway/model/xml/WxCommandMapper.xml" /> 
		<mapper resource="com/bruce/geekway/model/xml/WxCommandExtendMapper.xml" />
		<!-- 
		<mapper resource="com/bruce/geekway/model/xml/WxCommandMaterialMapper.xml" />
		 -->
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialArticleMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialArticleExtendMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialMultimediaMapper.xml" />
		
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialNewsMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialNewsArticleMapper.xml" />
		
		<mapper resource="com/bruce/geekway/model/xml/WxCustomizeMenuMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxDefaultReplyMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxBroadcastMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxHistoryMessageMapper.xml" />
		
		<mapper resource="com/bruce/geekway/model/xml/WxAccessTokenMapper.xml" />
		
		<!-- weixin pay -->
		<mapper resource="com/bruce/geekway/model/xml/WxPayNotifyOrderMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxPayAlarmMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxPayComplaintMapper.xml" />
		
		
		<!-- weixin product -->
		<mapper resource="com/bruce/geekway/model/xml/WxProductCategoryMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxProductMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxProductSkuMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxProductSkuExtendMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxSkuPropMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxSkuPropValueMapper.xml" />
		<!-- 
		<mapper resource="com/bruce/geekway/model/xml/WxProductSkuRelationMapper.xml" />
		-->
		<mapper resource="com/bruce/geekway/model/xml/WxProductTagMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxProductVoucherMapper.xml" />
		
		
	</mappers>

</configuration>
