<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
	
		<!-- geekway config -->

		<mapper resource="com/bruce/geekway/model/xml/WxMpUserMapper.xml" /> 
		
		<mapper resource="com/bruce/geekway/model/xml/WxCommandMapper.xml" /> 
		<mapper resource="com/bruce/geekway/model/xml/WxCommandExtendMapper.xml" />
		<!-- 
		<mapper resource="com/bruce/geekway/model/xml/WxCommandMaterialMapper.xml" />
		 -->
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialArticleMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialArticleExtendMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialMultimediaMapper.xml" />
		
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialNewsMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialNewsArticleMapper.xml" />
		
		<mapper resource="com/bruce/geekway/model/xml/WxCustomizeMenuMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxDefaultReplyMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxBroadcastMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxHistoryMessageMapper.xml" />
		
		<mapper resource="com/bruce/geekway/model/xml/WxAccessTokenMapper.xml" />
		
		
		
		<!-- ito config -->
		<mapper resource="com/bruce/geekway/model/xml/ItoProductBgMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoProductMapper.xml"/>
		<mapper resource="com/bruce/geekway/model/xml/ItoProductOrderMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSkuMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSkuImageMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSkuPropMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSkuPropValueMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoProductSkuValueMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSliderMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSystemStatusMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoWwjRecordMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoUserProfileMapper.xml" />
		
		
		
		<!-- klh config -->
		<mapper resource="com/bruce/geekway/model/xml/KlhVoteMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhVoteOptionMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhVoteResultMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhProductMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhSettingMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhUserScoreLogMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhUserProfileMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhDailySignMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhWallImageMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhWallImageLogMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/KlhWallImageLogStatMapper.xml" />
		
		
	</mappers>

</configuration>
