<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<mappers>
	
		<!-- geekway config -->
		<!-- 
		<mapper resource="com/bruce/geekway/model/xml/WxDefaultReplyMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxTestMapper.xml" /> 
		 -->
		
		<mapper resource="com/bruce/geekway/model/xml/WxCommandMapper.xml" /> 
		<mapper resource="com/bruce/geekway/model/xml/WxMaterialMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxCommandMaterialMapper.xml" />
		
		<mapper resource="com/bruce/geekway/model/xml/WxCustomizeMenuMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxCodeModuleMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxCodeModuleArticleMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxEventCodeMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxArticleMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxArticleExtendMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/WxDefaultReplyMapper.xml" />
		
		
		<!-- ito config -->
		<mapper resource="com/bruce/geekway/model/xml/ItoProductMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoProductOrderMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSkuMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSkuPropMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoSkuPropValueMapper.xml" />
		<mapper resource="com/bruce/geekway/model/xml/ItoProductSkuValueMapper.xml" />
		
		
	</mappers>

</configuration>
