<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bruce.geekway.dao.mapper.KlhWallImageLogMapper">

<resultMap id="StatMap" type="com.bruce.geekway.model.KlhWallImageStatBean">
  <result column="image_id" jdbcType="INTEGER" property="imageId" />
  <result column="browse_amount" jdbcType="INTEGER" property="browseAmount" />
  <result column="like_amount" jdbcType="INTEGER" property="likeAmount" />
</resultMap>
    
	<!-- 查询截至现在每周统计数据 -->
	<select id="weeklyStat" resultMap="StatMap">
		 <include refid="Stat_Column_List" /> where create_time>=DATE_SUB(now(), Interval 1 week) group by image_id order by likeAmount desc;
	</select>
	
	<!-- 查询截至现在每月统计数据 -->
	<select id="monthlyStat" resultMap="StatMap">
		 <include refid="Stat_Column_List" /> where create_time>=DATE_SUB(now(), Interval 1 month) group by image_id order by likeAmount desc;
	</select>
	
	<!-- 查询截至现在所有统计数据 -->
	<select id="totalStat" resultMap="StatMap">
		 <include refid="Stat_Column_List" /> group by image_id order by likeAmount desc;
	</select>
	
	<sql id="Stat_Column_List">
    	select image_id, sum(like_opt) likeAmount,  sum(browse_opt) browseAmount from klh_wall_image_log
	</sql>
	
</mapper>