<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bruce.geekway.dao.mapper.ProductMapper">
	
		
	<!-- 查询指定tagId的product数量 -->
	<select id="countProductsByTagId" resultType="java.lang.Integer">
		select count(tp.id) from tb_product tp, tb_product_tag_relation tptr where tptr.product_tag_id=#{tagId,jdbcType=INTEGER} and tp.id = tptr.product_id
	</select>
	
	<!-- limit查询指定tagId的product列表(分页方式) -->
	<select id="queryProductsByTagId" resultMap="BaseResultMap">
		select <include refid="Product_Tag_Base_Column_List" /> from tb_product tp, tb_product_tag_relation tptr where tptr.product_tag_id=#{tagId,jdbcType=INTEGER} and tp.id = tptr.product_id and tp.status=1 order by tptr.top_time desc
		<if test="criteria.limitRows != null">
	      limit 
	      <if test="criteria.limitOffset != null">
	        #{criteria.limitOffset}, 
	      </if>
	      #{criteria.limitRows}
	    </if>
	</select>
	
	
	<!-- limit查询指定categoryId的product列表(分页方式) -->
	<select id="queryProductsByCategoryId" resultMap="BaseResultMap">
		select <include refid="Product_Tag_Base_Column_List" /> from tb_product tp where tp.category_id= #{categoryId,jdbcType=INTEGER} and tp.status=1 order by tp.id desc 
		<if test="criteria.limitRows != null">
	      limit 
	      <if test="criteria.limitOffset != null">
	        #{criteria.limitOffset}, 
	      </if>
	      #{criteria.limitRows}
	    </if>
	</select>
	
	<!-- 查询指定tagId的product列表 -->
	<!-- 
	<select id="queryProductsByTagId2" resultMap="BaseResultMap">
		select <include refid="Product_Tag_Base_Column_List" /> from tb_product tp, tb_product_tag_relation tptr where tp.id = tptr.product_id and tptr.product_tag_id=#{tagId,jdbcType=INTEGER} order by tptr.top_time desc
		<if test="limitRows != null">
	      limit 
	      <if test="limitOffset != null">
	        #{limitOffset}, 
	      </if>
	      #{limitRows}
	    </if>
	</select>
	 -->
	
	<!-- 查询不在指定tagId的product数量 -->
	<select id="countProductsOutByTagId" resultType="java.lang.Integer">
		select count(tp.id) from tb_product tp where tp.id not in (select product_id from tb_product_tag_relation tptr where tptr.product_tag_id=#{tagId,jdbcType=INTEGER})
	</select>
	<!-- 查询不在指定tagId的product列表(分页方式) -->
	<select id="queryProductsOutByTagId" resultMap="BaseResultMap">
		select <include refid="Product_Tag_Base_Column_List" /> from tb_product tp where tp.id not in (select product_id from tb_product_tag_relation tptr where tptr.product_tag_id=#{tagId,jdbcType=INTEGER}) order by tp.create_time desc
		<if test="criteria.limitRows != null">
	      limit 
	      <if test="criteria.limitOffset != null">
	        #{criteria.limitOffset}, 
	      </if>
	      #{criteria.limitRows}
	    </if>
	</select>
	
	
	<!-- limit查询指定不属于tagId的product列表 -->
	<select id="queryProductsByTagIdLimit" resultMap="BaseResultMap">
		select <include refid="Product_Tag_Base_Column_List" /> from tb_product tp, tb_product_tag_relation tptr where tp.id = tptr.product_id and tptr.product_tag_id=#{tagId,jdbcType=INTEGER} order by tptr.top_time desc 
		<if test="limitRows != null">
	      limit 
	      <if test="limitOffset != null">
	        #{limitOffset}, 
	      </if>
	      #{limitRows}
	    </if>
	</select> 
	 
	
	<!-- 查询不在tagId中的product列表，供添加 -->
	<select id="queryProductsOutTagId" resultMap="BaseResultMap">
		select <include refid="Product_Tag_Base_Column_List" /> from tb_product tp where tp.id not in (select product_id from tb_product_tag_relation tptr where tptr.product_tag_id=#{tagId,jdbcType=INTEGER}) order by tp.create_time desc
		<if test="limitRows != null">
	      limit 
	      <if test="limitOffset != null">
	        #{limitOffset}, 
	      </if>
	      #{limitRows}
	    </if>
	</select> 
	
	
	<!-- 瀑布流方式加载tag的product数据列表 -->
	<select id="fallLoadProductsByTag" resultMap="BaseResultMap">
		select <include refid="Product_Tag_Base_Column_List" /> from tb_product tp, tb_product_tag_relation tptr where tptr.product_tag_id=#{tagId,jdbcType=INTEGER} and tp.id = tptr.product_id 
		<if test="tailId>0">
		and tp.id &lt;#{tailId,jdbcType=INTEGER}  
		</if>
		order by tptr.top_time desc
		limit #{limit,jdbcType=INTEGER}
	</select>
  
  <sql id="Product_Tag_Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon May 12 11:41:38 CST 2014.
    -->
    tp.*
  </sql>
	
</mapper>