<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruce.geekway.dao.mapper.WxProductSkuMapper">
	
	<!-- groupby方式查询 sku产品，在产品分类列表中使用 -->
	<select id="fallLoadCategoryProductSkuList" resultMap="BaseResultMap">
		select id, product_id, name, origin_price, price, stock, sku_pic1_url,
		create_time, update_time
		from wx_product_sku
		where
		<if test="categoryId > 0">
			category_id=#{categoryId,jdbcType=INTEGER} and
		</if>
		<if test="productTailId > 0">
			product_id&lt;#{productTailId, jdbcType=INTEGER} and 
		</if>
		price>0 
		group by product_id
		having sum(stock)>0 order by product_id desc limit #{limit};
	</select>
	
	<!-- 增加库存数量 -->
	<update id="incrStock">
		update wx_product_sku set stock = stock+#{stock} where id= #{id};
	</update>
	
	<!-- 扣减库存数量 -->
	<update id="reduceStock">
		update wx_product_sku set stock = stock-#{stock} where id= #{id};
	</update>
	

	<select id="fallLoadTagProductSkuList" resultMap="BaseResultMap">
		select id, product_id, name, origin_price, price, stock, sku_pic_url,
		create_time, update_time
		from wx_product_sku
		where price>0 and stock>0
		group by product_id having sum(stock)>0
		order by create_time desc;
	</select>
</mapper>